.container-contact {
  background-color: rgba(79, 99, 103, 0.8) ;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.phone {
  margin-top: 30px;
  color: white;
}

.email {
  margin-top: 30px;
  color: white;
}
