
.projects-container {
  display: flex;
  height: 421px;
  padding: 100px;
  margin-bottom: 250px;
}

.card {
  height: 300px;
  width: 600px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  transition: 400ms ease;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.card-background {
  position: relative;
  background-color: rgba(79, 99, 103, 0.8);
  color: white;
  height:375px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 3px 4px 30px 0px rgba(0,0,0,0.75);

}

.card-hover {
  position: absolute;
  opacity: 0;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 300ms;
}
.card-hover p {
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.card-background:hover .card {
  opacity: 0.4;
}

.card-background:hover .card-hover {
  opacity: 1;
}
.card:hover {
  opacity: 0.6;
}

.card-background-hover {
  opacity: 0.8;
}

.card-background h4 {
  margin-left: 10px;
}


