
<div class="container">
  <div class="ACon">
    <div class="Profile">
      <div class="Img">
        <div class="overlay">
          <span><img /></span>
        </div>
      </div>
      <div class="PopUp"> Check it out </div>
      <div class="clickPopUp">
        <h4><a class="username" href="">Inou Ridder</a></h4>
        <h5 class="buttons"><a class="username" href="#about">About</a></h5>
        <h5 class="buttons"><a class="username" href="">Portfolio</a></h5>
        <h5 class="buttons"><a class="username" href="">CV</a></h5>
        <h5 class="buttons b"><a class="username" href="">Social</a></h5>
        <div class="Social">
          <svg viewBox="0 0 512 512" id="logo" class="codepen"><path class="box" d="M427 201.9c-0.6-4.2-2.9-8-6.4-10.3L264.2 87.3c-4.9-3.3-11.4-3.3-16.3 0L91.4 191.6c-4 2.7-6.5 7.4-6.5 12.2v104.3c0 4.8 2.5 9.6 6.5 12.2l156.4 104.3c4.9 3.3 11.4 3.3 16.3 0L420.6 320.4c4-2.6 6.6-7.4 6.6-12.2V203.9C427.1 203.2 427.1 202.6 427 201.9 427 201.7 427.1 202.6 427 201.9zM270.7 127.1l115.2 76.8 -51.5 34.4 -63.8-42.7V127.1zM241.3 127.1v68.6l-63.8 42.7 -51.5-34.4L241.3 127.1zM114.3 231.4l36.8 24.6 -36.8 24.6V231.4zM241.3 384.9L126.1 308.1l51.5-34.4 63.8 42.6V384.9zM256 290.8l-52-34.8 52-34.8 52 34.8L256 290.8zM270.7 384.9V316.3l63.8-42.6 51.5 34.4L270.7 384.9zM397.7 280.6l-36.8-24.6 36.8-24.6V280.6z"/></svg>
          <svg viewBox="0 0 512 512" id="logo"><path class="box" d="M211.9 197.4h-36.7v59.9h36.7V433.1h70.5V256.5h49.2l5.2-59.1h-54.4c0 0 0-22.1 0-33.7 0-13.9 2.8-19.5 16.3-19.5 10.9 0 38.2 0 38.2 0V82.9c0 0-40.2 0-48.8 0 -52.5 0-76.1 23.1-76.1 67.3C211.9 188.8 211.9 197.4 211.9 197.4z"/></svg>
          <svg viewBox="0 0 512 512" id="logo"><path d="M422.6 193.6c-5.3-45.3-23.3-51.6-59-54 -50.8-3.5-164.3-3.5-215.1 0 -35.7 2.4-53.7 8.7-59 54 -4 33.6-4 91.1 0 124.8 5.3 45.3 23.3 51.6 59 54 50.9 3.5 164.3 3.5 215.1 0 35.7-2.4 53.7-8.7 59-54C426.6 284.8 426.6 227.3 422.6 193.6zM222.2 303.4v-94.6l90.7 47.3L222.2 303.4z"/></svg>
        </div>
      </div>
    </div>
  </div>
</div>


<section id="about">
  <div class="container">
    <div class="life">
    <h3> About </h3>
      <div class="life-picture">
        <img src="images/cropped_profile.jpeg" alt="Inou" id="pp">
      </div>
      <div class="life-title">
        <h2>
          Junior Full Stack Developer, <br> Social Scientist
        </h2>
      </div>
      <div class="life-info">
        <p>
         Travelled the world. Now I want to sustain it.
         Interests: Sustainability. Code. International Cooperation. Grassroot Management
       </p>
     </div>
   </div>
 </div>

 <div class="card">
  <div id="favorite">
   <h4>
     International Development
   </h4>
   <p> At the age of eighteen I joined my sister at an orphanage to help with her activities. It was then I quickly realised that the act of giving gave me a sense of fulfilment. I realised I would be happy if I believe the work I do contributes to a better world. Since, I've travelled the world and helped at multiple projects and it inspired me to study international development to understand at a more abstract level, what is needed and how to achieve it. </p>
 </div>
</div>
</section>


<section class="interets">
  <div class="container">
    <div class="card">
      <div id="favorite">
        <table>
         <tbody>
          <tr>
           <td>
            <h4>
              Sustainability
            </h4>
            <p>
              Through my travels and constant engagement with international development I learned that the greatest threat to the world and the poorest among us, is the rapidly changing environment. After researching what needs to change I've come to the one conclusion and that is us. It is our consumption behaviour that is the threat. But people will be people, we are ego centered minds and the only way to change behaviour is to substitute adequate consumption. To me, innovation is the only way out.
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>

<div class="card">
  <div id="favorite">
    <table>
     <tbody>
      <tr>
       <td>
         <td>
           <h4>
             Code
           </h4>
           <p>
            I've always been engaged with tech. I made my own website when I was fourteen, for fun. Sadly, I never continued down that path as I did not realize the potential. Now I believe that technological innovation is the only solution to many of the problems we face today. During the bootcamp at Le Wagon, I realised not only did I enjoy coding. I was good at it too. I learned to comfortable code with the MVC framework to manage complexity and create structured, clean and efficient code. After finishing most of the back end of my group project and structuring 50% of the front end, I am now working on two websites as a freelance webdeveloper. My interests are full stack. I enjoy good structures frame works and I am comfortable with HTML, CSS, vanilla JavaScript, SQL, PostGreSQL, Ruby and Ruby on Rails. Boilerplates I've worked with: Bootstrap and Middleman
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</section>


<section class="projects">
  <div class="card">
    <div id="favorite">
      <table>
       <tbody>
        <tr>
         <td>
           <h4>
             BARBER.APP
           </h4>
           <p>
             BARBER.APP was a three week end sprint MVC product with which I concluded my Le Wagon Bootcamp. The app was built around the idea that there is no easy way to find a good, available barber that is close by. And that is exactly what barber app does. The main functionality sorted the barbers according to the users location and current time. It then gave a list of barbers that are available near him sorted by their review rating! The website was created with the Ruby on Rails framework, html, css and included some JavaScript for geocoding as well as visual effects. As an extra challange, we coded the agenda system ourselves entirely.
           </p>
           <a href="https://shavesandcuts.herokuapp.com" class="btn-grey"> <i class= "fa fa-barber"></i></a>
           <h4>
            Vegan Movie Critic
          </h4>
          <p>
           Movie reviewing website
         </p>
         <a href="https://veganmoviecritic.herokuapp.com"> <i class="fa fa-vegan"></i></a>
       </td>
     </tr>
   </tbody>
 </table>
</div>
</div>
</section>



<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front">
      <h1> Social </h1>
    </div>
    <div class="back">
      <div id="links">
        <div id="buttons">
          <a href="https://nl.wikipedia.org/wiki/I_Am_Legend" target="_blanc" class="btn-grey"><i class="fa fa-cloud-download"></i> My wiki
          </a>

          <a href="https://www.youtube.com/watch?v=5j6ZGbzqMXY" target="_blanc" class="btn-grey">
           <i class="fa fa-linkedin" ></i>
           My linkedin Account!
         </a>
       </div>
     </div>
   </div>
 </div>
</div>






