
<div class="fixed-background"></div>
<div class="container-top">
  <div class="ACon">
    <div class="Profile">
      <div class="Img">
        <div class="overlay">
          <span><img /></span>
        </div>
      </div>
      <div class="PopUp">
        Check it out
      </div>
      <div class="clickPopUp">
        <h4>
          <a class="username" href="">
            Inou Ridder
          </a>
        </h4>
        <h5 class="buttons">
          <a class="username" href="#about">
            About
          </a>
        </h5>
        <h5 class="buttons">
          <a class="username" href="#projects">
            Portfolio
          </a>
        </h5>
        <h5 class="buttons">
          <a class="username" href="../images/myresume.pdf">
            Resume
          </a>
        </h5>
        <h5 class="buttons b">
          <a class="username" href="#contact">
            Contact
          </a>
        </h5>
        <div class="Social">
          <a href="https://www.github.com/InouRidder">
            <i class="fa fa-github fa-2x" aria-hidden="true">
            </i>
          </a>
          <a href="https://nl.linkedin.com/in/inou-ridder-05787ab5">
            <i class="fa fa-linkedin fa-2x" aria-hidden="true">
            </i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>





<section id="about">
  <div class="container">
<!--     <h2>About</h2>
-->
<div class="container-about">
  <div class="abouts-picture">
    <img src="images/inou.jpg" alt="Inou" id="pp">
    <div class="about-title">
    <h4>
        <strong>
          Social Scientist, Rubyist
        </strong>
        <h4>
        </div>
      </div>

    </div>
    <div class="container-interests">
      <div class="tabs">
        <a class="tab" data-target="#about">
          <h3>
            About
          </h3>
        </a>
        <a class="tab"  data-target="#ids">
          <h3>
            International Development
          </h3>
        </a>
        <a class="tab active"  data-target="#code">
          <h3>
           Code
         </h3>
       </a>
       <a class="tab"  data-target="#skills">
        <h3>
          Skills
        </h3>
      </a>
    </div>

    <div class="interests-card tab-content hidden" id="about">
      <div class="interests-card-content">
        <h4>
          About
        </h4>
        <p>
          When I was seventeen I joined my sister at an orphanage in Nairobi, Kenya. I was helping with her activities and felt how incredibly rewarding it was to do charitable work. It inspired me to travel, join other humanitarian projects and influenced my choice to study social sciences. Now I've backpacked for 2,5 years of my life and I've become increasingly engaged with sustainability and international development through the experiences abroad. The problem we face today is that the environment is changing a lot quicker than we are and this is exactly what I am interested in. I hope that through code I can raise consciousness about consumer behaviour as well as increase connectivity in order to contribute to positive change. In the future I hope to work on social enterprise projects. For right now, I'm focussed on becoming the best software engineer I could possibly be!
        </p>
      </div>
    </div>

    <div class="interests-card tab-content hidden" id="ids">
      <div class="interests-card-content">
       <h4>
         Sustainability
       </h4>
       <p>
       Through my travels and constant engagement with international development I learned that the greatest threat to the world and the poorest among us, is the rapidly changing environment. After researching what needs to change I've come to the one conclusion: our consumption behaviour. I've changed my own consumption and am passionate about raising awareness and substituting consumer choices with better options. I firmly believe that necessity is the mother of invention, and innovation is needed! I am increadibly interested in what the future holds and I hope that I can contribute to the change.
      </p>
     </div>
   </div>

   <div class="interests-card tab-content active" id="code">
     <div class="interests-card-content">
       <h4>
         Code
       </h4>
       <p>
       Technological innovation has always intrigued me. When I was fourteen I created my own website but sadly, I never continued down that path as I did not realize the potential. Now I believe that technological innovation is the only solution to many of the problems we face today. During the bootcamp at Le Wagon, I realised not only did I enjoy coding. I quickly got the hang of it too. I learned to comfortably code with the MVC framework to manage complexity and create structured, clean and efficient code. After finishing most of the back end of my group project and structuring 50% of the front end, I am now working on two websites as a freelance webdeveloper. My interests are full stack with a slight lean to back-end. For my precise coding skills, check out the next tab.
      </p>
    </div>
  </div>

  <div class="interests-card tab-content hidden" id="skills">
    <div class="interests-card-content">
      <div class="container-skills">
        <div class="back-end">
         <h6>Back-End</h6>
         <ul>
          <li>
            Ruby ***
          </li>
          <li>
            Ruby on Rails ***
          </li>
          <li>
            PostgreSQL **
          </li>
        </ul>
      </div>
      <div class="front-end">
       <h4> Front-End</h4>
       <ul>
         <li>
           HTML ***
         </li>
         <li>
           CSS **
         </li>
         <li>
           JavaScript *
         </li>
         <li>
           jQuery **
         </li>
       </ul>
     </div>
     <div class="tools">
       <h4>
         Tools
       </h4>
       <ul>
         <li>
           Heroku **
         </li>
         <li>
           Github ***
         </li>
         <li>
           Middleman **
         </li>
         <li>
           Bootstrap **
         </li>
       </ul>
     </div>
   </div>
 </div>
</div>

</div>
</div>
</section>

<section id="projects">
  <!-- <h2> Portfolio</h2> -->
  <div class="projects-container">
    <div class="card-background">
     <a href="https://shavesandcuts.herokuapp.com"> <div class="card" style="background-image: url('../images/BarberApp.png')");">
     </div>
     <div class="card-hover">
      <p>
        BARBER.APP was a three week end sprint MVC product with which I concluded my Le Wagon Bootcamp. It provided users with available barbers near their location and used reviews/pictures to allow barbers to market themselves. The app is built on Rails, HTML, CSS, JS and uses geocoding.
      </p>
    </div>
  </a>
  <h4>
    BARBER.APP
  </h4>
</div>

<div class="card-background">
  <div class="card">
  </div>
  <div class="card-hover">
    <p>
      A movie reviewing website that makes use of IMDB API and I am applying react(and learning it in the process) for the front end!
    </p>
  </div>
  <h4>
    Vegan Movie Critic - Work in progress!
  </h4>
</div>
</div>
</section>

<section id="contact">
<!--   <h2>
    Contact
  </h2> -->
  <div class="container-contact">
    <div class="phone">
      <i class="fa fa-phone fa-2x">        + (31) 6 43 04 36 94
      </i>
    </div>
    <div class="email">

      <i class="fa fa-envelope fa-2x">        inouridder@gmail.com </i>

    </div>
  </div>
</section>




